.task-board {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  max-width: 100%; /* Adjust as needed */
}

.lists-container {
  display: flex; /* Display lists horizontally */
  flex-direction: row; /* Set the direction to row (horizontal) */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
  max-width: 100%; /* Adjust as needed */
}

.list {
  width: 250px;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 10px;
  white-space: normal; /* Allow line breaks within lists */
}
h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

.task-creation {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  margin-top: 10px; /* Adjust spacing as needed */
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
